<div class="panel-header panel-header-sm">
  <h3 id="dash" class="ml-4">Dashboard</h3>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Your Cart</h4>
        </div>
        <!-- <div *ngIf="products" class="card-body">
          <div class="row">
            <div class="col-4">
              <h6>Your cart is Empty.</h6>
            </div>
            <div class="col-5">
              <button type="button" class="btn btn-primary btn-round">
                Buy Products
              </button>
            </div>
          </div>
        </div> -->

        <div *ngIf="products" class="card-body">
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead class="">
                <tr>
                  <th class="text-center"></th>
                  <th>Product</th>

                  <th class="text-right">Price</th>
                  <th class="text-right">Qty</th>
                  <th class="text-right">Amount</th>
                </tr>
              </thead>
              <tbody *ngIf="products">
                <tr *ngFor="let product of products | async">
                  <td>
                    <div class="img-container">
                      <img
                        src="../../../assets/images/{{
                          product.name.toLowerCase()
                        }}.jpg"
                        alt="..."
                      />
                    </div>
                  </td>
                  <td class="td-name">
                    <a href="#jacket">{{ product.name }}</a> <br />
                  </td>
                  <td class="td-number">Rs {{ product.price }}</td>
                  <td class="td-number">{{ product.quantity }}</td>
                  <td class="td-number">Rs {{ product.amount }}</td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                  <td class="td-total">Total</td>
                  <td class="td-price">Rs 1780</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
